<br><br>
<% @surveys.each_with_index do |survey, index| %>
	<h4><%= index + 1 %>.<%= survey.title %></h4>
	<p><%= survey.description %></p>
	<em>0 Responses</em><br><br>
	<div class="row">
		<div class="col-md-3">
			<form method="#" action="#">
				<button type="submit" class="btn btn-lg text-center">Take Survey</button>
		</div>
		<div class="col-md-3">
			<form method="#" action="#">
				<button type="submit" class="btn btn-lg text-center">View Results</button>
			</form>
		</div>
		<br><br><br>
	</div>
<% end %>
