<h2>Survey Builder</h2>
<hr>
<div class="row tabs-wrapper">
	<div class="col-md-offset-2 col-md-4 tabs1">
		<h4>1.Build Survey</h4>
	</div>
	<div class="col-md-4 tabs2">
		<h4 class="unselected-tab">2.Add Questions</h4>
	</div>
</div><br><br><br>
<p>First, choose a tile and description for your survey</p><br>
<%= render "form" %>