// Place all the styles related to the surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-content{
	h1{
		text-align: center;
	}
	.create-btn-wrapper{
		text-align: center;
		.create-button{
 			background-color: blue;
 			color: white;
 			width: 400px;
 			border-radius: 0;
 			margin-bottom: 30px;
		}
	}
	h3{
		text-decoration: underline;
	}
	.survey-creator-wrapper{
		h2{
			text-align: center;
		}
		hr{
			width: 600px;
			border-top: 2px solid black;
		}
		.unselected-tab{
			color: #aaa;
		}
		.tabs-wrapper{
			.tabs1{
				border-right: 1px solid #333;
			}
			.tabs2{
				border-left: 1px solid #333;
			}
		}
	}
}
